.list {
    padding: 115px 0px 0px 0px;
    

    &__input {
        margin: 0px 0px 50px 0px;
        max-width: 320px;
        position: relative;

        &::before{
            content:url('../../assets/list/Search.svg');
            position: absolute;
            top: 12px;
            left: 18px;
            width: 16px;
            height: 16px;
        }

        & > input {
            display: flex;
            padding: 10px 44px;
            font-size: 14px;
            line-height: 143%;
            border-radius: 8px;
            border: 1px solid #E5E7EB;
            &::placeholder {
                line-height: 143%;
                font-size: 14px;
            }
        }
    }

}

.table {

    display: flex;
    flex-direction: column;
    border: 1px solid #E5E7EB;
    border-radius: 8px;

    &__main {
        display: flex;
        align-items: center;
        justify-content: space-between;  
        letter-spacing: 0.5px;
        color: #6B7280;
        text-transform: uppercase;
        border-bottom: 1px solid #E5E7EB;
        & > P {
            padding: 12px 24px;
            font-size: 12px;
            line-height: 133%;
            font-weight: 500;
        }

        & > P:not(:first-child)::before {
            content:url('../../assets/list/bot.svg');
            position: absolute;
            top: 9.5px;
            left: 70px;
            width: 6px;
            height: 4.5px;
            transform: rotate(0deg);
            transition: transform 0.3s ease;
        }

        & > P.active::before {
            transform: rotate(180deg);
            top: 23px;
        }
        
    }

    &__name {
        flex: 0 1 21.71%;
    }

    &__date {
        flex: 1 1 auto;
        position: relative;
        cursor: pointer;
    }

    &__status {
        cursor: pointer;
        flex: 0 1 16.67%;
        position: relative;
        text-align: left;
    }

    & > .user-table:not(:last-child) {
        border-bottom: 1px solid #F6F6F6;
    }
}

@media (max-width: 768px){
    .list {
        padding: 50px 0px 0px 0px;
        
        &__input {
            margin: 0px 0px 30px 0px;
        }
    
    }
    
    .table {
    
        &__name {
            flex: 0 1 33.333%;
        }
    
        &__date {
            flex: 1 1 33.334%;
        }
    
        &__status {
            flex: 0 1 33.333%;
        }
    }
}

@media (max-width: 480px){
    .table {
        &__main {
            & > P {
                padding: 10px 15px;
            }
        }
    }
}