.list {
    padding: 115px 0px 0px 0px;
    

    &__input {
        margin: 0px 0px 50px 0px;
        max-width: 320px;
        position: relative;

        &::before{
            content:url('../../assets/list/Search.svg');
            position: absolute;
            top: 12px;
            left: 18px;
            width: 16px;
            height: 16px;
        }

        & > input {
            display: flex;
            padding: 10px 44px;
            font-size: 14px;
            line-height: 143%;
            border-radius: 8px;
            border: 1px solid #E5E7EB;
            &::placeholder {
                line-height: 143%;
                font-size: 14px;
            }
        }
    }

}

.table {
    display: flex;
    flex-direction: column;
    border: 1px solid #E5E7EB;
    border-radius: 8px;

    &__main {
        display: flex;
        align-items: center;
        justify-content: space-between;  
        letter-spacing: 0.5px;
        color: #6B7280;
        text-transform: uppercase;
        border-bottom: 1px solid #E5E7EB;
        & > P {
            padding: 12px 24px;
            font-size: 12px;
            line-height: 133%;
            font-weight: 500;
        }
        
    }

    &__name {
        flex: 0 1 21.71%;
        position: relative;

        &::before{
            content:url('../../assets/list/bot.svg');
            position: absolute;
            top: 9.5px;
            left: 70px;
            width: 6px;
            height: 4.5px;
        }
    }

    &__date {
        flex: 1 1 auto;
    }

    &__status {
        flex: 0 1 16.67%;
    }

    & > .user-table:not(:last-child) {
        border-bottom: 1px solid #F6F6F6;
    }
}

.alert {
    font-size: 28px;
    color: red;
    text-align: center;
    margin: 0px 0px 20px 0px;
}

.fetching {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin: 30px auto;
    border: 2px dashed green;
    animation-name: search-fetching;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}
  
@keyframes search-fetching {
    0% {
      transform: rotate(0deg);
    }
  
  
    100% {
      transform: rotate(-360deg) scale(1.1);
    }
}