.user-table {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #6B7280;
    cursor: pointer;
    
    & > P {
        padding: 12px 24px;
        line-height: 143%;
        font-weight: 400;
    }

    &__name {
        flex: 0 1 21.71%;
        font-weight: 500;
        color: #111827;
    }

    &__date {
        flex: 1 1 auto;
        text-align: left;
        overflow: hidden;
    }

    &__status {
        color: #5D5FEF;
        flex: 0 1 16.67%;
    }

    &__status.false {
        color: #EF5DA8;
    }
}

@media (max-width: 768px){
    .user-table {
        &__name {
            flex: 0 1 33.333%;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    
        &__date {
            flex: 1 1 33.334%;
        }
    
        &__status {
            flex: 0 1 33.333%;
        }
    }
}

@media (max-width: 480px){
    .user-table {
        & > P {
            padding: 10px 15px;
        }
    }
}